.header{
    position: fixed;
    top: 0;
    left: 0;
    background: dodgerblue;
    width: 100%;
    padding: 20px 0px;
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__list{
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }
    button{
        border: transparent;
        background: black;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }
}

@media (max-width:575px) {
    .header__nav__list{
        display: none;
    }
}